<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PaypalPayment">
    <test verbose="2" preserve-order="true" name="createPayment">
        <classes>
            <class name="WhitePhoenix.PaypalPayment">
                <methods>
                    <include name="createPayment"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="createPayment1">
        <classes>
            <class name="WhitePhoenix.PaypalPayment">
                <methods>
                    <include name="createPayment1"/>
                </methods>
            </class>
        </classes>
    </test>
<!--    <test verbose="2" preserve-order="true" name="requestMapper">-->
<!--        <classes>-->
<!--            <class name="WhitePhoenix.PaypalPayment">-->
<!--                <methods>-->
<!--                    <include name="requestMapper"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>